<form name="contact" method="POST" data-netlify="true">
  <p class="form-group">
    <label>お名前: <input type="text" name="name" class="form-control" /></label>
  </p>
  <p class="form-group">
    <label>E-mail: <input type="email" name="email" class="form-control" /></label>
    <small class="text-muted">メールアドレスに間違いないかよくご確認ください。</small>
  </p>
  <p class="form-group">
    <label>内容: <textarea name="message" class="form-control"></textarea></label>
  </p>
  <p class="form-group">
    <button type="submit" class="btn btn-secondary">送信</button>
  </p>
</form>
